@charset "UTF-8";

* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: linear-gradient(to bottom, hsl(194, 47%, 91%), #e1f1f70a, #d6d6d675);
  background-attachment: fixed; 
  font-size: 20px;
}

main {
  background-color: #fff;
  border-radius: 5px;
  width: 550px;
  box-shadow: 5px 5px 3px #4D6A73;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #c99c72;
  text-align: center;
  text-shadow: 2px #69533e;
} 

p {
  text-align: justify;
}

div {
  display: inline-flex;
  justify-items: center;
}

.inicio {
  background-color: #4D6A73;
  border: 3px solid black;
}

.tita:hover {
  background-color: #4D6A73;
  padding: 3px;
  transition: 0.8s;
}